.removePadding {
  padding: 0px;
}

.header {
  height: 50px;
  font-size: 18px;
  background-color: #333;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

header div {
  padding-top: 10px;
  padding-bottom: 10px;
}

header a {
  color: rgb(255, 255, 255);
}

header a:hover {
  text-decoration: none;
  color: gray;
}


.floatLeft {
  float: left;
}

.clearLeft {
  clear: left;
}

.shortBio {
  position: fixed;
  background: #111;
  height: 100%;
  width: 30%;
}

.RestData {
  margin-left: 70%;
}

.someTab {
  padding-left: 10px;
}

.contact {
  font-size: 18px;
  font-weight: 600;
}

.contactFooter {
  position: absolute;
  bottom: 10px;
}



.lvl1 {
  padding-left: 10px;
}

#timeline, #projects {
  margin-left: 50px;
}

.marginLeft{
  margin-left: 50px;
  margin-right: 10%;
}

#shotBio li {
  font-size: 18px;
}

.resumefloatright {
  font-size: 20px;
  padding-left: 50%;
}

.resumefloatright a{
  display: inline-block;
  margin-top: 5px;
  padding-top: 5px;
}

.changeBlock {
  display: inline-block;
  margin-top: 5px;
}
